/tmp
**/.#*
/node_modules/
**/*~
**/*.kate-swp
**/.directory
/npm-debug.log
/.dir-locals.el
/yarn-errors.log
/*.js
/*.d.ts
/src/**/*.js
/src/**/*.d.ts
!/src/internal/isequal.js
!/src/internal/isequal.d.ts
/tests/
/examples/node_modules
